<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="Host" value="localhost"/>
    <add key="Port" value="5672"/>
    <add key="VHost" value="/"/>
    <add key="RabbitMQUser" value="guest"/>
    <add key="RabbitMQPassword" value="guest"/>
    <add key="MessageFilePath" value="C:\Temp\RabbitMQ_LoadTesting"/>
    <add key="Threads" value="10"/>
    <add key="Queues" value="10"/> <!--minimum 1, maximum 10 should match subscriber-->
    <add key="PublisherMessageDelay" value="50"/>
  </appSettings>
</configuration>
