<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Host" value="btn-mq-dev.15below.local"/>
    <add key="Port" value="5672"/>
    <add key="VHost" value="/"/>
    <add key="RabbitMQUser" value="guest"/>
    <add key="RabbitMQPassword" value="guest"/>
    <add key="Threads" value="20"/>
    <add key="Queues" value ="10"/>    <!--minimum 1, maximum 10 should match publisher-->
  </appSettings>
</configuration>